@font-face {
  font-family: "Jaro";
  src: url(../fonts/Jaro-Regular-VariableFont_opsz.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Staatliches";
  src: url(../fonts/Staatliches-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url(../fonts/Geist-VariableFont_wght.ttf) format(truetype);
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --logo-color: #0f0f0f;

  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-tertiary: #613b0f;

  --text-color-hover-primary: #7c7c7c;

  --background-color-primary: #ffffff;
  --background-color-secondary: #cd9d65;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faixa {
  width: 100%;
  height: 20.03px;
  background: url(../img/faixa-header-desktop.png);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .faixa {
    background-size: contain;
  }
}

@media screen and (min-width: 1280px) {
  .faixa {
    height: 32.05px;
    background-size: contain;
  }
}
