.main-header {
  height: auto;
  background-color: var(--background-color-primary);
}

.logo-menu {
  height: 126px;
  padding: 20px 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header .logo-menu .logo.mobile img {
  width: 107px;
  height: 36px;
}

.main-header .logo-menu .logo.tablet {
  display: none;
}

.main-header .logo-menu .menu.tablet {
  display: none;
}

.main-header .logo-menu .menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.main-header .logo-menu .menu .menu-link {
  font-family: "Jaro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 139%;
  letter-spacing: 0;
  color: var(--text-color-primary);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .main-header {
    width: 100%;
  }

  .logo-menu {
    height: auto;
    padding: 30px 30px;
    margin-bottom: 0;
    flex-direction: column-reverse;
    align-items: center;
  }

  .main-header .logo-menu .menu.mobile {
    display: none;
  }

  .main-header .logo-menu .logo.mobile {
    display: none;
  }

  .main-header .logo-menu .logo.tablet {
    display: block;
    width: 100%;
    height: auto;
  }

  .main-header .logo-menu .menu.tablet {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-header .logo-menu .menu.tablet ul {
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.5px solid var(--logo-color);
    padding: 8px 0;
    width: 100%;
  }

  .main-header .logo-menu .menu.tablet ul a:hover{
    color: var(--text-color-hover-primary);
  }

  .main-header .logo-menu .menu.tablet p {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color-primary);
    line-height: 135%;
    letter-spacing: 1%;
    margin-bottom: 50px;
  }

  .main-header .logo-menu .menu .menu-link {
    font-family: "Jaro", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 139%;
    letter-spacing: -1px;
    color: var(--text-color-primary);
    text-decoration: none;
  }
}

@media screen and (min-width: 1280px) {
  .logo-menu {
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    gap: 70px;
  }

  .main-header .logo-menu .menu.tablet {
    height: 154px;
    align-items: self-start;
    justify-content: space-between;
    gap: 100px;
    padding-right: 30px;
  }

  .main-header .logo-menu .menu.tablet p {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 1%;
    margin-bottom: 0;
    text-align: left;
  }

  .main-header .logo-menu .menu .menu-link {
    font-size: 26px;
    letter-spacing: -2%;
  }
}
