.headline {
  background: url(../img/headline-img-tablet.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
  padding: 80px 44px;
}

.headline .headline-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 332px;
 
}

.headline .headline-contents .text-contents{
    width: 287px;
    height: 264px;
    padding: 0 33px;   
    word-wrap: break-word;
}

.headline .headline-contents p {
  font-family: "Staatliches", sans-serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 80%;
  color: var(--text-color-secondary);  
  letter-spacing: 0.01em;
  text-align: center;
}

.headline .headline-contents h3 {
  font-family: "Staatliches", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary);
  text-align: center;
}

